.download_but,
.delete_but {
    border: none;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    cursor: pointer;
}

.download_but {
    background-color: rgb(173, 173, 217);

}

.delete_but {
    background-color: rgb(255, 0, 0);
}
